@import "../../utilites/Variables.scss";
.side-drawer {
  height: 100%;
  width: 15%;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  overflow-x: hidden;
  padding-top: 4rem;

  & ul {
    & li {
      list-style: none;
      line-height: 3.5rem;
      color: white;
    }
  }
}
